@model _AM_ElectronicsStore.UI.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "Смена пароля";
}

<div class="hero-unit">
    <fieldset class="form-edit">
        <legend>Вход в систему</legend>
        @using (Html.BeginForm("ChangePsw", "users", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.OldPassword)</label>
                <div class="controls">
                    @Html.PasswordFor(model => model.OldPassword, new { @class = "input-large" })
                </div>
                <div class="text-error">@Html.ValidationMessageFor(model => model.OldPassword)</div>
            </div>
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.NewPassword)</label>
                <div class="controls">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "input-large" })
                </div>
                <div class="text-error">@Html.ValidationMessageFor(model => model.NewPassword)</div>
            </div>
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.NewPasswordConfirm)</label>
                <div class="controls">
                    @Html.PasswordFor(model => model.NewPasswordConfirm, new { @class = "input-large" })
                </div>
                <div class="text-error">@Html.ValidationMessageFor(model => model.NewPasswordConfirm)</div>
            </div>
            <div class="controls">
                <input type="submit" value="Далее" class="btn" />
            </div>
        }
    </fieldset>
</div>
